name: CI Example

# When to run
on:
  push:
    branches: [ testMatrix ]
  pull_request:
    branches: [ testMatrix ]

# Define what to do
jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.8, 3.9, 3.10, 3.11]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.version }}

      - name: Cache pip
        uses: actions/cache@v4
        with: 
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings -q

      - name: Run performance tests with duration 0
        run: pytest --maxfail=1 --disable-warnings --durations=0 -q
      
      - name: Run performance tests with duration 1
        run: pytest --maxfail=1 --disable-warnings --durations=1 -q
  
      - name: Run performance tests with duration 5
        run: pytest --maxfail=1 --disable-warnings --durations=5 -q
