name: CI Example

# When to run
on:
  push:
    branches: [ testGithubAction ]
  pull_request:
    branches: [ testGithubAction ]

# Define what to do
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest --maxfail=1 --disable-warnings -q

      - name: Run performance tests with duration 0
        run: python3 -m pytest --maxfail=1 --disable-warnings --durations=0 -q
      
      - name: Run performance tests with duration 1
        run: python3 -m pytest --maxfail=1 --disable-warnings --durations=1 -q''
